body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

.App-footer {
  background-color: #282c34;
  padding: 20px;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.container{
  padding: 30px 50px;
  position: relative;
}